footer {
    background-color: rgba(255, 255, 255, 0.04);
    box-shadow: 0 0 10px rgba(55, 61, 64, 0.2);
}

.svg-inline--fa {
    color: white;
    font-size: 1.2rem;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.svg-inline--fa:hover {
    transform: scale(1.06);
}