.grid{
    background-color: purple;
    color: white;
    height: 580px;
}
#sidebar-wrapper{
    background-color: purple;
}
.navColumn{
    font-size:x-large;
}
.navColumn:hover{
    background-color: #ffffff44;
}
h3{
    margin: auto;
    padding: 30px;
    cursor: pointer;
    transition: transform .3s linear;
}
h3:hover {
    transform: scale(1.08);
  }