#card-title {
    font-size: .8rem;
    color: white;
}


#game-card {
    position: relative;
    width: 11rem;
    border: 0px !important;
    cursor: pointer;
    background-color: transparent;
    transition: transform 0.3s ease-in-out;
}

.card-img:hover {
    filter: brightness(1.2);
    background-color: rgba(255, 255, 255, 0.03);
}

#game-card:active {
    transform: scale(.93);
}


.card-img {
    height: 220px;
    object-fit: cover;
    object-position: center;
}