body{
    font-family: sans-serif;
    margin: 0;
    --nav-load-time: 300ms;
    --nav-link-load-time: 600ms;
    --article-load-delay: calc( var(--nav-load-time) + var(--nav-link-load-time));
}
.nav-link{
    animation-name: nav-link-load;
    animation-duration: var(--nav-link-load-time);
    animation-timing-function: ease-in;
    animation-delay: var(--nav-load-time);
    animation-fill-mode: forwards;
    transform: scale(0);
}
#nav{
    background-color: rgb(0, 61, 92);
    color: white;
    animation: nav-load var(--nav-load-time) ease-in;
    border-bottom: 7px solid turquoise;
    margin-bottom: 50px;
}
@keyframes nav-load{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes nav-link-load{
    0%{
        transform: scale(0);
    }
    90%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}