.text__p {
  font-size: .8rem !important;
  font-weight: 300;
  color: white;
  text-decoration: none !important;
}

.text__p2 {
  font-size: .78rem;
  font-weight: 200;
  color: white;
  text-decoration: none !important;
  transition: all 125ms ease-in-out;
}

.text__h3 {
  font-size: .85rem;
  font-weight: 300;
  color: white;
}

.font-200 {
  font-weight: 200 !important;
}

.font-300 {
  font-weight: 300 !important;
}

.font-400 {
  font-weight: 400 !important;
}

.font-500 {
  font-weight: 500 !important;
}

.font-600 {
  font-weight: 600 !important;
}

.lh-2 {
  line-height: 2.5;
}

.table-borderLess td,
.table-borderLess th {
  border: none !important;
  background-color: transparent;
  color: white;
}